@tailwind base;
@tailwind components;
@tailwind utilities;
.text-title-1{
    font-size: 3rem;
    font-family: 'Satoshi-Variable';
    font-weight: bold;
}
.text-title-2{
    font-size: 2.5rem;
    font-family: 'Satoshi-Variable';
}
.text-title-3{
    font-size: 2rem;
    font-family: 'Satoshi-Variable';
}

.text-title-4{
    font-size: 1rem;
    font-family: 'Satoshi-Variable';
}